#  Multiple linear regression

In [28]:
import pandas as pd
import numpy  as np
from matplotlib import pyplot as plt
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [29]:
startup_data = pd.read_csv("Startups.csv")

In [30]:
startup_data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54  California  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42  California  166187.94

In [31]:
startup_data.shape

(50, 5)

In [32]:
# Convert the texts to numerical
startup_data['State'] = startup_data['State'].factorize()[0]

In [33]:
startup_data.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      0  192261.83
1  162597.70       151377.59        443898.53      1  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      0  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [34]:
x = startup_data.iloc[:, 0:4]

In [35]:
x.head()

   R&D Spend  Administration  Marketing Spend  State
0  165349.20       136897.80        471784.10      0
1  162597.70       151377.59        443898.53      1
2  153441.51       101145.55        407934.54      1
3  144372.41       118671.85        383199.62      0
4  142107.34        91391.77        366168.42      1

In [36]:
y = startup_data.iloc[:, 4]

In [38]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [39]:
model = LinearRegression()
model.fit(x, y)

LinearRegression()

In [40]:
intercept = model.intercept_
coeff = model.coef_
print(intercept)
print(coeff)

49084.39098199409
[ 8.07955614e-01 -2.36199676e-02  2.63692094e-02  1.33209295e+03]

In [41]:
x1 = sm.add_constant(x)
x1.head()

   const  R&D Spend  Administration  Marketing Spend  State
0    1.0  165349.20       136897.80        471784.10      0
1    1.0  162597.70       151377.59        443898.53      1
2    1.0  153441.51       101145.55        407934.54      1
3    1.0  144372.41       118671.85        383199.62      0
4    1.0  142107.34        91391.77        366168.42      1

In [42]:
model = sm.OLS(y,x1).fit()

In [43]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Profit   R-squared:                       0.951
Model:                            OLS   Adj. R-squared:                  0.947
Method:                 Least Squares   F-statistic:                     218.4
Date:                Sat, 24 Aug 2024   Prob (F-statistic):           7.53e-29
Time:                        16:37:15   Log-Likelihood:                -525.25
No. Observations:                  50   AIC:                             1060.
Df Residuals:                      45   BIC:                             1070.
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const            4.908e+04   6950.471      7.062      0.000    3.51e+04    6.31e+04
R&D Spend           0.8080      0.046     17.662      0.000       0.716       0.900
Administration     -0.0236      0.052     -0.455      0.651      -0.128       0.081
Marketing Spend     0.0264      0.017      1.581      0.121      -0.007       0.060
State            1332.0930   2690.180      0.495      0.623   -4086.207    6750.393
==============================================================================
Omnibus:                       15.851   Durbin-Watson:                   1.306
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               25.631
Skew:                          -0.951   Prob(JB):                     2.72e-06
Kurtosis:                       5.947   Cond. No.                     1.48e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.48e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""