Import package libraries

In [1]:
import pandas as pd
from sklearn.preprocessing  import OneHotEncoder

Create some sample datas

In [2]:
data = {
    'Fruits' : ['Apple', 'Banana', 'Orange', 'Grapes', 'Lemon'],
    'Colors' : ['Red', 'Yellow', 'Orange', 'Purple', 'Yellow']
}

Change the datas as DataFrame

In [3]:
df = pd.DataFrame(data)
df

   Fruits  Colors
0   Apple     Red
1  Banana  Yellow
2  Orange  Orange
3  Grapes  Purple
4   Lemon  Yellow

Create an OneHotEncoder

In [4]:
encoder = OneHotEncoder()

Fit and Transform the colors

In [6]:
encoded_colors = encoder.fit_transform(df[['Colors']]).toarray()
encoded_colors

array([[0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.]])

Change the encoded_colors datas as DataFrame

In [11]:
encoded_df = pd.DataFrame(encoded_colors, columns=encoder.get_feature_names_out(['Colors']))
encoded_df

   Colors_Orange  Colors_Purple  Colors_Red  Colors_Yellow
0            0.0            0.0         1.0            0.0
1            0.0            0.0         0.0            1.0
2            1.0            0.0         0.0            0.0
3            0.0            1.0         0.0            0.0
4            0.0            0.0         0.0            1.0

In [12]:
df_encoded = pd.concat([df, encoded_df], axis=1)
df_encoded

   Fruits  Colors  Colors_Orange  Colors_Purple  Colors_Red  Colors_Yellow
0   Apple     Red            0.0            0.0         1.0            0.0
1  Banana  Yellow            0.0            0.0         0.0            1.0
2  Orange  Orange            1.0            0.0         0.0            0.0
3  Grapes  Purple            0.0            1.0         0.0            0.0
4   Lemon  Yellow            0.0            0.0         0.0            1.0